venv/
.git/
.github/
.gitignore
notebooks/
data/
mlruns/
reports/
tests/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
*.ipynb_checkpoints
.env
*.env
kaggle.json
*.key
*.pem
*.cert
.DS_Store
Thumbs.db
README.md